<div class="row" align="center">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  		<h1>Contato</h1>
  		<%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
  		<%= f.input :name, placeholder: 'seu nome', :required => true %>
  		<%= f.input :email, placeholder: 'email@exemplo.com', :required => true %>
  		<%= f.input :message, placeholder: 'Escreva aqui sua mensagem...', :as => :text, :required => false, :input_html => {:rows => 10} %>
  		<p class="form-actions">
    	<%= f.button :submit, 'Enviar', :class=> "btn btn-primary" %>
  		</p>
  		<% end %>
	</div>
</div>
