<!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Micoli's Blog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="glyphicon glyphicon-home" href="/">Home</a>
                    </li>
                    <li>
                        <%= link_to "Sobre", about_path, class: "glyphicon glyphicon-user" %>
                    </li>
                    <li>
                        <%= link_to 'Portfolio', works_path, class: "glyphicon glyphicon-tasks" %>
                    </li>
                    <li>
                        <%= link_to "Contato", new_contact_path, class: "glyphicon glyphicon-envelope" %>
                    </li>
          
                    <% if user_signed_in? %>
                        <li><%= link_to "Perfil", edit_user_registration_path, class: "btn btn-sm btn-primary" %></li>
                        <li><%= link_to "Sair", destroy_user_session_path, class: "btn btn-sm btn-danger", method: :delete %>
                    <% else %>
                        <li><%= link_to "Registrar", new_user_registration_path, class: "btn btn-sm btn-success" %></li>
                        <li><%= link_to "Entrar", new_user_session_path, class: "btn btn-sm btn-primary" %></li>
                        <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary" %></li>
                 
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>