<!DOCTYPE html>
<html>
<%= render 'layouts/header' %>
<body>
<%= render 'layouts/navigation' %>
<%= render 'layouts/pageheader' %>
<div class="container">
<%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
